@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

body {
  @apply bg-slate-950 text-slate-100 font-sans;
}

a {
  @apply text-brand underline-offset-2 hover:underline;
}
